.theme-color {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px auto;
  max-width: 1200px;
}

.theme-buttons div {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 15px;
  border-radius: 50%;
}